<div>
    <h2>Adapters</h2>
    <ul>
        <li>
            <a href="/documentation/components/adapters/chartjs">ChartJS</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/csv">CSV</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/doctrine">Doctrine</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/elasticsearch">Elastic Search</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/google-sheet">Google Sheets</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/http">HTTP</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/json">Json</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/logger">Logger</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/meilisearch">MeiliSearch</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/parquet">Parquet</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/text">Text</a>
        </li>
        <li>
            <a href="/documentation/components/adapters/xml">XML</a>
        </li>
    </ul>
    <h2>Libraries</h2>
    <ul>
        <li>
            <a href="/documentation/components/libs/filesystem">Filesystem</a>
        </li>
        <li>
            <a href="/documentation/components/libs/types">Types</a>
        </li>
        <li>
            <a href="/documentation/components/libs/array-dot">Array Dot</a>
        </li>
        <li>
            <a href="/documentation/components/libs/azure-sdk">Azure SDK</a>
        </li>
        <li>
            <a href="/documentation/components/libs/doctrine-dbal-bulk">Doctrine DBAL Bulk</a>
        </li>
        <li>
            <a href="/documentation/components/libs/parquet">Parquet</a>
        </li>
        <li>
            <a href="/documentation/components/libs/parquet-viewer">Parquet Viewer</a>
        </li>
        <li>
            <a href="/documentation/components/libs/snappy">Snappy</a>
        </li>
    </ul>
    <h2>Bridges</h2>
    <ul class="mb-10">
        <li>
            <a href="/documentation/components/bridges/filesystem-azure-bridge">Filesystem Azure</a>
        </li>
        <li>
            <a href="/documentation/components/bridges/filesystem-async-aws-bridge">Filesystem S3</a>
        </li>
        <li>
            <a href="/documentation/components/bridges/symfony-http-foundation-bridge">Symfony Http Foundation</a>
        </li>
        <li>
            <a href="/documentation/components/bridges/monolog-http-bridge">Monolog Http</a>
        </li>
    </ul>
</div>